<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/log.css">  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="icon" type="image/x-icon" href="/logo/golf_cart.png">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="modules/dayjs/dayjs.min.js"></script>
  <script src="modules/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <title>Log golf car</title>
</head>

<body>
  <div class="bot-body flex flex-col h-screen w-full py-2">
    <div class="taskbar">
      <button class="button flex flex-col btn-primary" id="historyButton">History log</button>
      <div class="flex flex-col w-full items-center justify-center">
        <p id="time" class="text-[20px] font-[700]" ></p>
      </div>
    </div>
    <div id="realtime-log">
    <div class="log-container" id="logContainer"></div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="form-container">
            <button class="btn btn-warning" id="clearButton">Clean log</button>
          </div>
        </div>
        <div class="col">
          <div class="form-container">
            <select class="form-control" id="id-msg">
              <option value=0>MSG_TYPE_ALL_NODE</option>
              <option value=1>MSG_TYPE_CMD_FRAME</option>
              <option value=2>MSG_TYPE_ACK_CMD_FRAME</option>
              <option value=3>MSG_TYPE_R_N_FRAME</option>
              <option value=4>MSG_TYPE_DATA_FRAME</option>

              <option value=8>MSG_TYPE_TEST_ALL_NODE</option>
              <option value=9>MSG_TYPE_TEST_CMD_FRAME</option>
              <option value=10>MSG_TYPE_TEST_ACK_CMD_FRAME</option>
              <option value=11>MSG_TYPE_TEST_R_N_FRAME </option>
              <option value=12>MSG_TYPE_TEST_DATA_FRAME</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="form-container">
            <select class="form-control" id="id-target">
              <option value=0>TARGET_ALL_NODE</option>
              <option value=1>TARGET_EGN_CTRL_NODE</option>
              <option value=2>TARGET_LIGHT_GPS_CTRL_NODE</option>
              <option value=3>TARGET_MASTER_NODE</option>
              <option value=4>TARGET_STEER_CTRL_NODE</option>
              <option value=5>TARGET_SENSOR_NODE</option>
              <option value=6>TARGET_PW_MANAGEMENT_NODE</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="form-container">
            <input type="text" class="form-control" id="textInput" placeholder="Data">
          </div>
        </div>
        <div class="col">
          <div class="form-container">
            <button class="btn btn-primary" id="sendButton">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="history-log">
    <div class="log-container" id="logHistoryContainer"></div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="form-container">
            <select class="form-control" id="topic-filter-msg">
              <option value="Data/Speed">Data/Speed</option>
              <option value="Data/Sensor">Data/Sensor</option>
              <option value="Data/Power">Data/Power</option>
              <option value="Data/Location">Data/Location</option>
              <option value="Data/IMUGyro">Data/IMUGyro</option>
              <option value="Data/IMUAccel">Data/IMUAccel</option>
              <option value="Data/IMUEuler">Data/IMUEuler</option>
              <option value="CarControl/Speed">CarControl/Speed</option>
              <option value="CarControl/Light">CarControl/Light</option>
              <option value="CarControl/SteerAngle">CarControl/SteerAngle</option>
              <option value="CarControl/Buzzer">CarControl/Buzzer</option>
              <option value="CarControl/EnablePID">CarControl/EnablePID</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="form-container">
            <button class="btn btn-primary" id="filterButton">Filter</button>
          </div>
        </div>
        <div class="col">
          <div class="form-container">
            <button class="btn btn-primary" id="clearFilterButton">Clear Filter</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>

<script src="assets/js/log.js"></script>
</html>